## <font color = 'orange'><b>This file contains code to create connection, table and insert all the data from the csv file.</b></font>

### <b>I want to work with the database thats why i am not using csv for this</b>

In [1]:
# Importing necessary libraries
import pandas as pd
import mysql.connector as connector

In [2]:
# Defining the database configuration

config = {
    'user': 'root',
    'password': 'sahilkhan@7824',
    'host': 'localhost',
    'database': 'quizgame'
}

In [3]:
# SQL queries to create tables

data_table_query = '''
CREATE TABLE quizdata(
    sno INT AUTO_INCREMENT PRIMARY KEY, 
    question VARCHAR(255), 
    optionA VARCHAR(100),
    optionB VARCHAR(100),
    optionC VARCHAR(100),
    optionD VARCHAR(100),
    correct_ans VARCHAR(1) NOT NULL
)'''

login_info_query = '''
CREATE TABLE user_info(
    fullname VARCHAR(50) NOT NULL,
    phone VARCHAR(10),
    email VARCHAR(50) NOT NULL,
    username VARCHAR(50) PRIMARY KEY,
    password VARCHAR(50) NOT NULL,
    score INT DEFAULT 0
)'''

# Creating a list of queries, to execute them in a loop
queries = [data_table_query, login_info_query]


# Establishing connection with the database, and checking if the connection is successful
try:
    connection = connector.connect(**config)
    if connection.is_connected():
        print("Connected to MySQL database")
        
    for i in range(2):
        cursor = connection.cursor()
        cursor.execute(queries[i])
        connection.commit()
        print("Table created successfully.")
    
finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL database
Table created successfully.
Table created successfully.
MySQL connection is closed

In [4]:
# Loading the dataset
df = pd.read_csv('quiz_data.csv')

In [5]:
df

,Sno,Question,Option A,Option B,Option C,Option D,Correct Option
0,1,What is the square root of 144?,10,11,12,13,C
1,2,What planet is known as the Red Planet?,Earth,Mars,Venus,Jupiter,B
2,3,Who wrote 'Hamlet'?,William Wordsworth,William Shakespeare,Charles Dickens,Mark Twain,B
3,4,What is the chemical symbol for water?,HO,H2O,O2H,HHO,B
4,5,What is the capital of France?,Paris,Berlin,Madrid,Rome,A
...,...,...,...,...,...,...,...
195,196,Which of the following is a JavaScript framework?,React,Flask,Django,Laravel,A
196,197,What does JSON stand for?,JavaScript Object Notation,Java Object Notation,JavaScript Open Notation,JavaScript Output Notation,A
197,198,Which of the following is used for containeriz...,Git,Docker,Jenkins,Ansible,B
198,199,What is the main purpose of a constructor in a...,Looping,Initializing objects,Checking conditions,Returning values,B
199,200,What is the file extension for a PHP file?,.php,.ph,.pp,.phpx,A

In [6]:
# Converting the dataframe numpy object to python object, so that it can be inserted into the database
df = df.astype(object).where(pd.notnull(df), None)

In [7]:
df

,Sno,Question,Option A,Option B,Option C,Option D,Correct Option
0,1,What is the square root of 144?,10,11,12,13,C
1,2,What planet is known as the Red Planet?,Earth,Mars,Venus,Jupiter,B
2,3,Who wrote 'Hamlet'?,William Wordsworth,William Shakespeare,Charles Dickens,Mark Twain,B
3,4,What is the chemical symbol for water?,HO,H2O,O2H,HHO,B
4,5,What is the capital of France?,Paris,Berlin,Madrid,Rome,A
...,...,...,...,...,...,...,...
195,196,Which of the following is a JavaScript framework?,React,Flask,Django,Laravel,A
196,197,What does JSON stand for?,JavaScript Object Notation,Java Object Notation,JavaScript Open Notation,JavaScript Output Notation,A
197,198,Which of the following is used for containeriz...,Git,Docker,Jenkins,Ansible,B
198,199,What is the main purpose of a constructor in a...,Looping,Initializing objects,Checking conditions,Returning values,B
199,200,What is the file extension for a PHP file?,.php,.ph,.pp,.phpx,A

In [9]:
# Establishing connection with the database, and checking if the connection is successful

try:
    connection = connector.connect(**config)
    if connection.is_connected():
        print("Connected to MySQL database")
        
        cursor = connection.cursor()

        # Insert df into the quizdata table
        insert_query = '''
        INSERT INTO quizdata (sno, question, optionA, optionB, optionC, optionD, correct_ans)
        VALUES (%s, %s, %s, %s, %s, %s, %s)
        '''
        for row in df.itertuples(index=False):
            cursor.execute(insert_query, tuple(row))
        
        connection.commit()
        print("Data inserted successfully.")

finally:
    if connection.is_connected():
        cursor.close()
        connection.close()
        print("MySQL connection is closed")

Connected to MySQL database
Data inserted successfully.
MySQL connection is closed

## <font color = 'orange'><b>Here our task of creating database and inserting data is done</b></font>

In [10]:
# list(df.itertuples(index=False))